.Text{
    margin: auto;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 0 1rem #fff;
    border: none;
    outline: none;
    font-size: 1.3rem;
    font-weight: bold;
    color: blueviolet;
}